body{
    padding: 0px;
    margin: 0px;
    background-color: #EBEBEB;
    font-family: "Microsoft YaHei";
}
a{
    text-decoration: none;
}
.top{
    width: 100%;
    background: #393A3E;
    position: fixed;
    z-index: 1;
    top: 0px;
    font: 20px;
    color: white;
    padding: 12px;
    border-bottom: #EAEAEA solid 1px;
}
.top .sousuo{
    position: absolute;
    left: 290px;
}
.top .jiahao{
    position: absolute;
    left: 328px;
}
.main{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    /*align-items: center;*/
    position: absolute;
    top: 49px;
    background-color: #EBEBEB;
}
.main a{
    padding: 5px 20px 0px 20px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    border-bottom: #EAEAEA solid 1px;
    background-color: white;
}
.tou{
    width: 40px;
    height: 40px;
    text-align: center;
}
.tou img{
    margin-top: 2px;
}
.zi{
    padding-left: 20px;
    padding-top: 6px;
}
.ming{
    font: 15px "Microsoft YaHei";
    color: black;
}
p{
    margin: 8px 0px;
}


.foot{
    width: 100%;
    /*color: #B9B9B9;*/
    position: fixed;
    top: 611px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-top: #EAEAEA solid 1px;
    padding-top: 10px;
    background-color: white;
    /*opacity: 1;*/
}
.foot div{
    width: 25%;
    text-align: center;
}
.foot a{
    color: #B9B9B9;
    /*padding: 10px 10px 10px 35px;*/
    font-size: small;
}
.foot a:active{
    color: #41C015;
}