body{
    padding: 0px;
    margin: 0px;
    background-color: white;
    font-family: "Microsoft YaHei";
}
a{
    text-decoration: none;
}
.top{
    width: 100%;
    background: #393A3E;
    position: fixed;
    z-index: 1;
    top: 0px;
    font-size: 18px;
    color: white;
    padding: 12px;
    border-bottom: #EAEAEA solid 1px;
}
.jiantou img{
    position: relative;
    top: 4px;
}
.top .camera{
    position: absolute;
    left: 325px;
}
.tou{
    position: absolute;
    left: 280px;
    top: 320px;
    z-index: 333;
}
.tou img{
    border: white solid 1px;
}
.tou span{
    position: absolute;
    top: 10px;
    right: 90px;
}
.quan{
    padding: 50px 15px 0px 15px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.quan img{
    position: relative;
    float: left;
}
.wenzi{
    position: relative;
    float: left;
    left: 15px;
}
.wenzi a{
    color: rgba(65,109,201,0.91);
}
.wenzi p{
    font-size: large;
    margin-top: 0px;
}

.quan  .wenzi .time{
    font-size: 10px;
    color: #4e4f51;
}
.quan  .wenzi img{
    position: absolute;
    left: 240px;
    top: 93px;
}
.s{
    margin-bottom: 15px;
    padding-bottom: 7px;
    border-bottom: rgba(196,201,196,0.91) solid 1px;
}
